<div class="login-container">
  <mat-card class="login-card">
    <div class="header">
      <h1>👋 Bonjour Planificateur !</h1>
      <div class="login-logo">
        <img src="mobilis.avif" alt="Logo Akline" />
      </div>
      <p>Entrez votre email et votre mot de passe pour accéder à votre espace.</p>
    </div>
    
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <!-- Champ Email -->
      <mat-form-field class="custom-field" appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          formControlName="email"
          placeholder="ex: planificateur@email.com"
        />
        @if (loginForm.controls['email'].invalid && loginForm.controls['email'].touched) {
          <mat-error>
            Email invalide
          </mat-error>
        }
      </mat-form-field>

      <!-- Champ Mot de Passe -->
      <mat-form-field class="custom-field" appearance="outline">
        <mat-label>Mot de passe</mat-label>
        <input
          matInput
          type="password"
          formControlName="password"
          placeholder="••••••••"
        />
        @if (loginForm.controls['password'].invalid && loginForm.controls['password'].touched) {
          <mat-error>
            Mot de passe trop court (min 6 caractères)
          </mat-error>
        }
      </mat-form-field>

      <br>

      <!-- Bouton de connexion -->
      <input
        mat-raised-button
        color="primary"
        type="button"
        value="🔑 Se connecter"
        [disabled]="loginForm.invalid"
        class="login-button"
        (click)="goToPlanificateur()"
        (click)="goToMap()"
        
      >
    </form>
  </mat-card>
</div>
