ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  nav ul {
    display: flex;
    padding: 10px;
    justify-content: right;
  }
  nav li {
    margin: 10px 10px;                 
         
    border-radius: 4px;          
    cursor: pointer; 
  }

mat-toolbar {
    background:  linear-gradient(135deg, #667eea, #764ba2);;
}