<app-header></app-header>

<h1>Carte livreurs</h1>

<div style="height: 300px; width: 300px;"
  leaflet 
  [leafletCenter]="centre()" 
  (leafletCenterChange)="updateCentre($event)" 
  [leafletZoom]="zoom()" 
  (leafletZoomChange)="updateZoom($event)" 
  [leafletLayers]="layers()"
  (leafletClick)="onMapClick($event)">
</div>

<div>Latitude:</div>
<input type="number" [(ngModel)]="latitude" name="Latitude" />
<hr />
<div>Longitude:</div>
<input type="number" [(ngModel)]="longitude" name="Longitude" />
<hr />
<div>Zoom:</div>
<input type="number" [(ngModel)]="zoom" name="Zoom" />
